
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/roboto-v29-latin-regular.woff2') format('woff2'), 
         url('../fonts/roboto-v29-latin-regular.woff') format('woff'); 
  }
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../fonts/roboto-v29-latin-500.woff2') format('woff2'), 
         url('../fonts/roboto-v29-latin-500.woff') format('woff'); 
  }
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/roboto-v29-latin-700.woff2') format('woff2'), 
         url('../fonts/roboto-v29-latin-700.woff') format('woff'); 
  }

@font-face {
    font-family: 'Fredoka One';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/fredoka-one-v12-latin-regular.woff2') format('woff2'),
         url('../fonts/fredoka-one-v12-latin-regular.woff') format('woff'); 
  }


@font-face {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(''),
         url('../fonts/hind-madurai-v10-latin-regular.woff2') format('woff2'), 
         url('../fonts/hind-madurai-v10-latin-regular.woff') format('woff'); 
  }
  @font-face {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local(''),
         url('../fonts/hind-madurai-v10-latin-600.woff2') format('woff2'), 
         url('../fonts/hind-madurai-v10-latin-600.woff') format('woff'); 
  }
  @font-face {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local(''),
         url('../fonts/hind-madurai-v10-latin-700.woff2') format('woff2'), 
         url('../fonts/hind-madurai-v10-latin-700.woff') format('woff'); 
  }



*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
body{
    font-family: "Roboto" , sans-serif;
}
.container{
    width:1165px;
    padding:0 20px;
    margin:0 auto;
}
.top-btns{
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    color: #fafafa;
    background-color:#d23166;
    border: none;
    border-radius: 5px;
    -webkit-transition: background-color 0.3s ease,
                color 0.3s ease,
                -webkit-box-shadow 0.3s ease;
    transition: background-color 0.3s ease,
                color 0.3s ease,
                -webkit-box-shadow 0.3s ease;
    -o-transition: background-color 0.3s ease,
                color 0.3s ease,
                box-shadow 0.3s ease;
    transition: background-color 0.3s ease,
                color 0.3s ease,
                box-shadow 0.3s ease;
    transition: background-color 0.3s ease,
                color 0.3s ease,
                box-shadow 0.3s ease,
                -webkit-box-shadow 0.3s ease
}
.top-btns:hover{
    background-color: #fafafa;
    color: #D23166;
    -webkit-box-shadow: inset 0px 0px 0px 2px #D23166;
            box-shadow: inset 0px 0px 0px 2px #D23166;
}
button{
    cursor: pointer
}



/* HEADER */
.header-wrapper {
    background-color:rgba(242, 206, 218, 0.3);
}
.site-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 10px;
}
.header-logo-link {
    display: inline-block;
}
.header-logo-img {
    display: block;
    width: 79px;
    height: 79px;
}
.navbar-wrapper {
    width:445px;
}
.site-navbar {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack:justify;
        -ms-flex-pack:justify;
            justify-content:space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    margin: 0;
}
.navbar-item-link {
    text-decoration: none;
    font-size: 14px;
    font-weight:700;
    line-height: 16.41px;
    color:#150101;
    opacity:0.6;
    -webkit-transition: font-size 0.3s ease,
                color 0.3s ease,
                opacity 0.3s ease;
    -o-transition: font-size 0.3s ease,
                color 0.3s ease,
                opacity 0.3s ease;
    transition: font-size 0.3s ease,
                color 0.3s ease,
                opacity 0.3s ease;
}
.navbar-item-link:hover {
    font-size: 15px;
    color:#D23166;
    opacity:1;
}
.active{
    font-size: 15px;
    color:#D23166;
    opacity:1;
}
.header-btn {
    padding: 14px 50px;
}
.header-btn:hover{
    background-color: #fafafa;
    color: #D23166;
    -webkit-box-shadow: inset 0px 0px 0px 2px #D23166;
            box-shadow: inset 0px 0px 0px 2px #D23166;
}

/* HERO */
.hero-wrapper {
    background-color:rgba(242, 206, 218, 0.3);
}
.visually-hidden {
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
            clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
.site-hero {
    background-image: url(../img/hero_bg.png);
    background-repeat: no-repeat;
    background-size: 894px 742px;
    background-position: 436px 37px

}
.site-hero-content {
    width: 665px;
    padding-top: 196px;
    padding-bottom: 213px
}
.hero-content-span {
    font-size: 14px;
    font-weight: 500;
    line-height: 16.41px;
    color:#0f0101;
    letter-spacing:0.1em;
}
.hero-content-heading {
    font-size: 57.53px;
    font-family: "Fredoka One" ;
    line-height: 69px;
    color:#0f0101;
    opacity:0.9;
    margin: 0;
    margin-bottom: 35px;
}
.heading-span {
    color:#D23166
}
.hero-content-text {
    width: 523px;
    font-family: "Hind Madurai", sans-serif;
    font-size: 18px;
    line-height: 27px;
    color:#0f0101;
    margin: 0;
    margin-bottom: 50px;
}
.hero-contentn-btn {
    padding: 16px 50px;
}


/* SERVICES */
.site-services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    margin-top: 100px;
}
.services-item {
    width: 250px;
    padding-top: 33px;
    padding-right:26px;
    padding-bottom: 27px;
    padding-left: 26px;
    border-radius: 7px;
    -webkit-transition: -webkit-box-shadow 0.3s ease;
    transition: -webkit-box-shadow 0.3s ease;
    -o-transition: box-shadow 0.3s ease;
    transition: box-shadow 0.3s ease;
    transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}
.services-item:hover{
    -webkit-box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.1);
            box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.1);
}
.services-item-heading {
    font-family: "Hind Madurai", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 27.6px;
    margin: 0;
    margin-top: 24px;
    margin-bottom: 9px;
}
.services-item-text {
    font-family: "Hind Madurai", sans-serif;
    font-size: 14px;
    line-height: 19.3px;
    opacity:0.6;
    margin: 0;
}

/* SPECIAL ICE-CREAM */
.special-wrapper {
    background-color: #f8edf0;
    padding: 27px 0px;
    margin-top: 100px;
}
.special-icecream {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.special-icecream-content {
    width: 442px;
}
.special-icecream-heading {
    width: 349px;
    font-family: "Hind Madurai", sans-serif;
    font-size: 44.2px;
    font-weight: 600;
    line-height: 49px;
    color: #150101;
    margin: 0;
    margin-bottom: 16px
}
.special-icecream-text {
    line-height: 24px;
    color: #150101;
    opacity: 0.6;
    margin: 0;
    margin-bottom: 25px;
}
.special-icecream-btn {
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    color: #fafafa;
    background-color:#d23166;
    padding: 15px 42px;
    border: none;
    border-radius: 5px;
    -webkit-transition: background-color 0.3s ease,
                color 0.3s ease,
                -webkit-box-shadow 0.3s ease;
    transition: background-color 0.3s ease,
                color 0.3s ease,
                -webkit-box-shadow 0.3s ease;
    -o-transition: background-color 0.3s ease,
                color 0.3s ease,
                box-shadow 0.3s ease;
    transition: background-color 0.3s ease,
                color 0.3s ease,
                box-shadow 0.3s ease;
    transition: background-color 0.3s ease,
                color 0.3s ease,
                box-shadow 0.3s ease,
                -webkit-box-shadow 0.3s ease
}
.special-icecream-btn:hover{
    background-color: #fafafa;
    color: #D23166;
    -webkit-box-shadow: inset 0px 0px 0px 2px #D23166;
            box-shadow: inset 0px 0px 0px 2px #D23166;
}
.special-icecream-img {
    width: 655px;
    height: 490px;
}

/* OUR SERVICES */
.our-products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 137px;
}
.our-products-heading {
    font-family: "Hind Madurai", sans-serif;
    font-size: 44.2px;
    line-height: 61px;
    font-weight: 600;
    color:#150101;
    margin: 0;
    margin-bottom: 64px;
}
.product-list {
    text-align: center;
    width:890px;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    margin: 0;
    margin-bottom: 50px;
}
.product-list-item {
    padding-bottom: 4px;
    -webkit-transition: -webkit-box-shadow 0.3s ease;
    transition: -webkit-box-shadow 0.3s ease;
    -o-transition: box-shadow 0.3s ease;
    transition: box-shadow 0.3s ease;
    transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}
.product-list-item:hover{
    -webkit-box-shadow: inset 0px -3px 0 0px #D23166;
            box-shadow: inset 0px -3px 0 0px #D23166;
}
.product-item-link {
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    color:#000000;
    opacity:0.6;
    text-decoration: none;
    -webkit-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}
.product-item-link:hover{
    opacity: 1
}
.product-items {
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.product-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
}
.product-item-img {
    width: 580px;
    height: 415px;
}
.product-item-content {
    width: 454px;
}
.text-right {
    text-align: right;
}
.product-item-heading {
    font-family: "Hind Madurai", sans-serif;
    font-size: 26px;
    line-height: 36px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 11px;
}
.product-item-text {
    line-height: 24px;
    opacity: 0.7;
    margin: 0;
    margin-bottom: 28px;
}
.product-item-price {
    font-family: "Hind Madurai", sans-serif;
    font-size: 26px;
    line-height: 36px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 10px;
}
.price-span {
    font-size: 20px;
    text-decoration:line-through;
    opacity:0.7;
    margin-left: 5px;
}
.product-item-btn {
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    color: #fafafa;
    background-color:#d23166;
    padding: 14px 50px;
    border: none;
    border-radius: 5px;
    -webkit-transition: background-color 0.3s ease,
                color 0.3s ease,
                -webkit-box-shadow 0.3s ease;
    transition: background-color 0.3s ease,
                color 0.3s ease,
                -webkit-box-shadow 0.3s ease;
    -o-transition: background-color 0.3s ease,
                color 0.3s ease,
                box-shadow 0.3s ease;
    transition: background-color 0.3s ease,
                color 0.3s ease,
                box-shadow 0.3s ease;
    transition: background-color 0.3s ease,
                color 0.3s ease,
                box-shadow 0.3s ease,
                -webkit-box-shadow 0.3s ease
}
.product-item-btn:hover{
    background-color: #fafafa;
    color: #D23166;
    -webkit-box-shadow: inset 0px 0px 0px 2px #D23166;
            box-shadow: inset 0px 0px 0px 2px #D23166;
}


/* TESTIMONIALS SECTION */
.testimonials-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 117px;
}
.testimonials-content {
    margin-left: 20px;
}
.testimonials-person {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 46px;
}
.person-img {
    width: 59px;
    height: 59px;
}
.about-person {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 11px;
}
.name {
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 5px;
}
.nationalty {
    font-size: 12px;
    font-weight: 500;
    line-height: 14.6px;
}

.persons-quote {
    position: relative;
    width: 322px;
    line-height: 24px;
    opacity: 0.7;
    margin: 0;
    margin-bottom: 39px;
    margin-left: 15px;
}
.open-mark{
    position: absolute;
    left: -24px;
    top: 5px
}
.close-mark{
    position: relative;
    left:3px;
    top:5px
}
.testimonials-slider {
    width: 255px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.testimonials-img {
    width: 564px;
    height: 442px;
}


/* MOBILE APP */
.miobile-app-wrapper {
    background-color: #f8edf0;
    padding-top: 36px;
    padding-bottom: 45px;
    margin-top: 155px;
}
.mobile-app {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.mobile-app-img {
    -webkit-box-shadow: -10px 10px 5px rgba(0, 0, 0, 0.25);
            box-shadow: -10px 10px 5px rgba(0, 0, 0, 0.25);
    border-radius: 35px;
}
.mobile-app-content {
    margin-left: 135px;
}
.mobile-app-heading {
    font-size: 44.2px;
    line-height: 52px;
    font-weight:500;
    margin: 0;
    margin-bottom: 20px;
}
.mobile-app-text {
    width: 607px;
    font-size:18px;
    line-height: 21px;
    opacity: 0.7;
    margin: 0;
    margin-bottom: 30px;
}
.mobile-app-abilities {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 35px;
}
.mobile-app-ability {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    margin-bottom: 15px;
}
.ability-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 3px;
}
.ability-text {
    font-size: 22px;
    line-height: 22.8px;
    margin-left: 10px;
}
.mobile-app-stores {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.mobile-app-store {
    margin-right: 7px;
}


/* FORM SECTION */
.contact-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    margin-top: 111px;
}
.contact-heading {
    width: 522px;
    font-size: 44px;
    line-height: 51.5px;
    font-weight: 500;
    text-align:center ;
}
.contact-form {
    width: 645px;
}
.form-tel {
    width: 303px;
    height: 74px;
    font-size: 14px;
    color: rgba(15, 0, 0, 0.6);
    padding-left: 25px;
    border:1px solid #ffa3a3;
    border-radius: 5px;
}
.form-select {
    width: 303px;
    height: 74px;
    font-size: 14px;
    color: rgba(15, 0, 0, 0.6);
    padding-left: 25px;
    margin-left: 30px;
    border:1px solid #ffa3a3;
    border-radius: 5px;
}
.form-text {
    width: 507px;
    height: 74px;
    color: rgba(15, 0, 0, 0.6);
    padding-left: 25px;
    margin-top: 37px;
    border:1px solid #ffa3a3;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.form-submit {
    position: relative;
    top: 1px;
    right: 8px;
    width: 134px;
    height: 74px;
    font-size: 20px;
    font-weight: 500;
    line-height: 23.44px;
    color: #ffffff;
    background-color: #D64374;
    border: none;
    border-radius: 5px;
    -webkit-transition: background-color 0.3s ease,
                color 0.3s ease,
                -webkit-box-shadow 0.3s ease;
    transition: background-color 0.3s ease,
                color 0.3s ease,
                -webkit-box-shadow 0.3s ease;
    -o-transition: background-color 0.3s ease,
                color 0.3s ease,
                box-shadow 0.3s ease;
    transition: background-color 0.3s ease,
                color 0.3s ease,
                box-shadow 0.3s ease;
    transition: background-color 0.3s ease,
                color 0.3s ease,
                box-shadow 0.3s ease,
                -webkit-box-shadow 0.3s ease
}
.form-submit:hover{
    background-color: #fafafa;
    color: #D64374;
    -webkit-box-shadow: inset 0px 0px 0px 2px #D64374;
            box-shadow: inset 0px 0px 0px 2px #D64374;
}


/* FOOTER */
.footer-wrapper {
    background-color: #0A0808;
    padding-top:71px;
    padding-bottom: 103px;
    margin-top: 109px;
}
.site-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline
}
.footer-logo-link {
    display: inline-block;
    margin-bottom: 9px;
}
.footer-logo-img {
    display: block;
    width: 79px;
    height: 79px;
}
.footer-content-text {
    width: 207px;
    font-size: 12px;
    line-height: 16.7px;
    color: #ffffff;
    opacity:0.7;
    margin: 0;
    margin-bottom: 25px;
}
.footer-content-span {
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    color: #ffffff;
    margin-bottom: 8px;
}
.footer-social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.footer-social-item {
    margin-right: 10px;
}
.footer-social-link {
    text-decoration: none;
}
.footer-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 37px;
}
.footer-list-right{
    margin-left: 132px;
}
.footer-list-item {
    margin-bottom: 5px;
}
.footer-list-link {
    font-size: 12px;
    line-height: 14px;
    text-decoration: none;
    color:#ffffff;
    opacity:0.7;
    -webkit-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease
}
.footer-list-item:hover .footer-list-link{
    opacity:1;
}
.footer-newsletter {
    margin-left: 150px;
}
.footer-form {
    margin-bottom: 15px;
}
.newsletter-label {
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    color:#ffffff;
    margin-bottom: 13px;
}
.newsletter-email {
    width: 268px;
    height: 55px;
    font-size: 14px;
    line-height: 16.4px;
    color:#ffffff;
    opacity:0.6;
    padding-left: 32px;
    background-color: #0A0808;
    border: 2px solid #d64374;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.newletter-submit {
    position: relative;
    top: 2px;
    right: 8px;
    width: 125px;
    height: 55px;
    font-size: 20px;
    font-weight: 500;
    line-height: 23.44px;
    color: #ffffff;
    background-color: #D64374;
    border: none;
    border-radius: 5px;
    -webkit-transition: background-color 0.3s ease,
                color 0.3s ease,
                -webkit-box-shadow 0.3s ease;
    transition: background-color 0.3s ease,
                color 0.3s ease,
                -webkit-box-shadow 0.3s ease;
    -o-transition: background-color 0.3s ease,
                color 0.3s ease,
                box-shadow 0.3s ease;
    transition: background-color 0.3s ease,
                color 0.3s ease,
                box-shadow 0.3s ease;
    transition: background-color 0.3s ease,
                color 0.3s ease,
                box-shadow 0.3s ease,
                -webkit-box-shadow 0.3s ease
}
.newletter-submit:hover{
    background-color: #0A0808;
    color: #D23166;
    -webkit-box-shadow: inset 0px 0px 0px 2px #D23166;
            box-shadow: inset 0px 0px 0px 2px #D23166;
}
.payment-type-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.payment-type-item {
    display: inline-block;
    margin-right: 15px;
}
.payment-type-link {
    text-decoration: none;
    margin-right: 15px;
}